In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

import requests, json   
api_key = "d0a2301b1066be60a90b946462380bab"

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('Crop_recommendation.csv')

In [ ]:
params = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
labels = df['label']
crops = df['label'].unique()
crops = sorted(crops)

In [ ]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(params,labels,test_size = 0.2,random_state =2)

In [ ]:
from sklearn.linear_model import LogisticRegression

LogReg = LogisticRegression(random_state=2)

LogReg.fit(Xtrain,Ytrain)

predicted_values = LogReg.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)
print("Logistic Regression's Accuracy is: ", round(x*100.000,3),"%.")

In [ ]:
base_url = "http://api.openweathermap.org/data/2.5/weather?"
city_name = input("Enter your city name : ") 
complete_url = base_url + "appid=" + api_key + "&q=" + city_name 
response = requests.get(complete_url) 
  
x = response.json() 
  
if x["cod"] != "404": 
  
    y = x["main"] 
    current_temperature = y["temp"] - 273.15 
    current_humidity = y["humidity"]  
    print(" Temperature (in â„ƒ) \t= " +
                    str(round(current_temperature,2)) + 
          "\n humidity (in %) \t= " +
                    str(current_humidity)) 
else: 
    print(" City Not Found ")

In [ ]:
data = np.array([[110,100, 120, current_temperature, current_humidiy, 7, 150]])

prediction = LogReg.predict_proba(data)
probabilities = prediction[0]
probabilities =sorted(probabilities, reverse=True)
print("These are the top 3 crops you should plant: ")

for i in range (0,3):
    print(i+1,") ",crops[prediction[0].tolist().index(probabilities[i])],"having a predicted probability of:",round(probabilities[i],10)*100,"%." )

In [ ]:
data = np.array([[83, 45, 60, 28, 70.3, 7.0, 150.9]])

prediction = LogReg.predict_proba(data)
probabilities = prediction[0]
probabilities =sorted(probabilities, reverse=True)
print("These are the top 3 crops you should plant: ")

for i in range (0,3):
    print(i+1,") ",crops[prediction[0].tolist().index(probabilities[i])],"having a predicted probability of:",round(probabilities[i],10)*100,"%."  )

In [216]:
df.describe(include='all')

,N,P,K,temperature,humidity,ph,rainfall,label
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,maize
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655,NaN
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389,NaN
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267,NaN
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686,NaN
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624,NaN
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508,NaN
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117,NaN